<a href="https://colab.research.google.com/github/ngamzedeniz/DS-Miuul/blob/main/1_python_alistirmalar_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Alıştırmalar

In [ ]:
###############################################
# GÖREV 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
###############################################

text = "The goal is to turn data into information, and information into insight."

text = text.replace(".","")
text = text.replace(",","")
text = text.upper()
text = text.split()

# text.upper().replace(".","").replace(",","").split()

text

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:
###############################################
# GÖREV 3: Verilen liste için aşağıdaki görevleri yapınız.
###############################################

lst = ["D","A","T","A","S","C","I","E","N","C","E"]

# Adım 1: Verilen listenin eleman sayısına bakın.

print("Adım 1")

eleman_sayisi = len(lst)
print("Eleman Sayısı:",eleman_sayisi)

# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.

print("Adım 2")

print("0. indeks",lst[0])
print("10. indeks",lst[10])

# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.

print("Adım 3")

print(lst[0:4])

# Adım 4: Sekizinci index'teki elemanı silin.

print("Adım 4")

#lst.pop(8)

lst = lst[:7] + lst[9:]
print(lst)

# Adım 5: Yeni bir eleman ekleyin.

print("Adım 5")

#lst.append(101)

lst = lst[:] + [101]
print(lst)

# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.

print("Adım 6")

#lst.insert(8,"N") 

X = ["N"]
lst = lst[:7] + X + lst[7:]
print(lst)

Adım 1
Eleman Sayısı: 11
Adım 2
0. indeks D
10. indeks E
Adım 3
['D', 'A', 'T', 'A']
Adım 4
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'C', 'E']
Adım 5
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'C', 'E', 101]
Adım 6
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'C', 'E', 101]

In [ ]:
###############################################
# GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}


# Adım 1: Key değerlerine erişiniz.
print("Adım 1")
print(dict.keys())

# Adım 2: Value'lara erişiniz.
print("Adım 2")
print(dict.values())

# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

print("Adım 3")
dict.update({"Daisy":[dict["Daisy"][0],13]})
print(dict)
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

print("Adım 4")
dict.update({"Ahmet":["Turkey",24]})
print(dict)

# Adım 5: Antonio'yu dictionary'den siliniz.
print("Adım 5")
del dict['Antonio']
print(dict)

Adım 1
dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
Adım 2
dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
Adım 3
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}
Adım 4
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}
Adım 5
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [ ]:
###############################################
# GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.
###############################################

l = [2,13,18,93,22]
tek = []
cift = []

for s in l:
    if s %2 == 0:
      cift.append(s)
    else:
      tek.append(s)

In [ ]:
print(tek)
print(cift)

[13, 93]
[2, 18, 22]

In [ ]:
###############################################
# GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.
###############################################

ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
muhendis =[]
tip = []
for i,s in enumerate(ogrenciler):
  if i < 3:
    muhendis.append(s)
  else:
    tip.append(s)

In [ ]:
print(tip)
print(muhendis)

['Talat', 'Zeynep', 'Ece']
['Ali', 'Veli', 'Ayşe']

In [ ]:
###############################################
# GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.
###############################################

ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

ders_bilgileri = zip(ders_kodu, kredi, kontenjan)
print(tuple(ders_bilgileri))

(('CMP1005', 3, 30), ('PSY1001', 4, 75), ('HUK1005', 2, 150), ('SEN2204', 4, 25))

In [ ]:
###############################################
# GÖREV 8: Aşağıda 2 adet set verilmiştir.
# Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını, eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.
###############################################

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])


if kume1.isdisjoint(kume2) == True:
  print(kume1.intersection(kume2))
else:
  print(kume2.difference(kume1))

{'miuul', 'qcut', 'function', 'lambda'}